@charset "utf-8";
@import '../../public/css/_mixin.scss';

.line-container{
  background-color: #fff;
  .line-item{
    min-height: 110rpx;
    color: #444;
    padding: 16rpx 0;
    margin: 0 20rpx;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .row{
      height: 44rpx;
      font-size:28rpx;
      display: flex;
      align-items: center;
      .title{
        margin-right:30rpx;
      }
      .content{
        flex: 1;
        text-align: right;
        .icon{
          width: 40rpx;
          height: 40rpx;
        }
      }
    }
  }
}
