@import '../../public/css/_mixin.scss';
page{
  background-color: #f3f3f6;
}
.category-tabs{
  height: 72rpx;
  background-color: #fff;
  display: flex;
  .tabs-item{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    &:first-child{
      border-right: 1rpx solid #e7e7e7;
    }
    text{
      font-size: 24rpx;
      color: #666;
    }
    .sort-triangle{
      margin-left: 5rpx;
    }
  }
}
.category-nav{
  width:180rpx;
  background-color: #fff;
  position:absolute;
  top:160rpx;
  left:0;
  bottom:0;
  &:before{
    content: '';
    width: 1rpx;
    background-color: #e5e5e5;
    position:absolute;
    top:0;
    right:0rpx;
    bottom:0;
    display: block;
  }
  .nav-item{
    height: 88rpx;
    padding: 0 10rpx;
    @include ellipsis();
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1rpx solid #e5e5e5;
    position: relative;
    z-index: 100;
    &.active{
      background-color: #f3f3f6;
      &:after{
        content: '';
        width: 1rpx;
        background-color: #f3f3f6;
        position:absolute;
        top:0;
        right:-1rpx;
        bottom:0;
        display: block;
      }
      text{
        color: #ff5000;
      }
    }
    image{
      width: 30rpx;
      height: 30rpx;
      margin-right: 5rpx;
    }
    text{
      font-size: 26rpx;
    }
  }
}
.category-main{
  position:absolute;
  top:160rpx;
  right:0;
  bottom:0;
  left:180rpx;
  background-color: #f3f3f6;
  //margin: 23rpx 20rpx 0;
  box-sizing: border-box;
  .scroll-view{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
  }
  .ad-img{
    padding: 30rpx 20rpx 0 20rpx;
    margin-bottom: 20rpx;
    image{
      width: 100%;
      height: 180rpx;
      display: block;
    }
  }
  .nav-title{
    font-size: 24rpx;
    font-weight: bold;
    padding: 15rpx 0;
  }
  .good-section{
    padding: 0 20rpx 20rpx 20rpx;
  }
  .good-item{
    background-color: #fff;
    border-bottom: 1rpx solid #f3f3f6;
    display: flex;
    .good-img{
      width: 226rpx;
      height: 226rpx;
      image{
        width: 100%;
        height: 100%;
      }
    }
    .content{
      padding-bottom: 7rpx;
      flex: 1;
      .title{
        line-height: 38rpx;
        margin: 18rpx 15rpx 23rpx;
        font-size: 24rpx;
        @include ellipsis(2);
      }
      .intro{
        line-height: 44rpx;
        font-size: 22rpx;
        padding: 0 15rpx;
        color:#9a9a9a;
        @include ellipsis();
      }
      .info{
        display: flex;
        align-items: center;
        .price{
          color:#ff4400;
          font-size: 32rpx;
          flex: 1;
          padding-left: 18rpx;
          font-weight: bold;
        }
        .opera{
          width: 65rpx;
          height: 65rpx;
          padding: 0rpx 9rpx;
          image{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}