@charset "utf-8";

.line-cell{
  line-height: 50rpx;
  padding:17rpx 0;
  color: #444;
  font-size:24rpx;
  display: flex;
  &.bb{
    border-bottom: 1rpx solid #e5e5e5;
  }
  .cell-title{
    margin-right:30rpx;
  }
  .cell-content{
    flex: 1;
    min-height: 50rpx;
    color:#999;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .select{
      width: 37rpx;
      height: 37rpx;
    }
  }
}