.list-section{
  background-color: #fff;
  padding-left: 18rpx;
  .sel{
    margin-right:20rpx;
    image {
      width: 36rpx;
      height: 36rpx;
      display: block;
    }
  }
  .label-act{
    .ico{
      margin-left: 0;
      image {
        width: 25rpx;
        height: 25rpx;
      }
    }
  }
  .list-item{
    border-bottom: 1rpx solid #e5e5e5;
    display: flex;
    .sel{
      display:flex;
      align-items:center;
    }
    .item-img{
      padding: 10rpx 10rpx 10rpx 0;
      image{
        width: 166rpx;
        height: 166rpx;
        display: block;
      }
    }
    .content{
      flex: 1;
      padding: 10rpx 35rpx 10rpx 26rpx;
      .title{
        line-height: 34rpx;
        padding-top:5rpx;
        font-size: 24rpx;
        @include ellipsis(2);
      }
      .descrip-container{
        .descrip-list{
          line-height: 32rpx;
          color: #999;
          font-size: 22rpx;
          padding: 5rpx;
          &.hide{
            height: 32rpx;
            overflow: hidden;
            .intro{
              &:first-child{
                @include ellipsis();
              }
            }
          }
        }
        .icon{
          width: 40rpx;
          height: 40rpx;
          float: right;
        }
      }
    }
    .delete{
      width: 110rpx;
      color: #fff;
      font-size: 24rpx;
      background-color: #ff3b30;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .item-opera{
    height: 80rpx;
    display: flex;
    align-items: center;
    .edit{
      font-size: 24rpx;
    }
    .tip{
      font-size: 32rpx;
    }
    .btns-group{
      text-align: right;
      flex: 1;
      .btn{
        margin-right:25rpx;
      }
    }
    .sign{
      color:#ff5000;
      font-size: 22rpx;
    }
    .price{
      color:#ff5000;
      font-size: 32rpx;
      font-weight: bold;
    }
  }
}
