@charset "utf-8";
@import './_mixin.scss';
@import './_utils.scss';
@import './_animate.scss';

.empty-data{
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  image{
    width:295rpx;
    height: 185rpx;
    display: block;
  }
  text{
    text-align: center;
    margin-top:45rpx;
    font-size: 40rpx;
    font-weight: bold;
  }
}

.btns-prompt{
  height: 98rpx;
  display: flex;
  &.bt{
    border-top: 1rpx solid #e5e5e5;
  }
  .each-item{
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 26rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    &:first-child{
      border-right: 1rpx solid #e5e5e5;
    }
    &.confirm{
      color: #fff;
      background: linear-gradient(to right, #ff9000 18%, #ff5000 78%);
    }
  }
}

.btn{
  line-height: 56rpx;
  font-size: 26rpx;
  padding:0 32rpx;
  border-radius: 7rpx;
  box-sizing:border-box;
  border:1rpx solid transparent;
  display:inline-block;
  &.disabled,
  &:disabled,
  &[disabled]{
    border:1px solid rgba(0,0,0,0.1) !important;
    color:#fff !important;
    background-color: #aaa !important;
  }
  &.btn-light{
    color:#666;
    background-color: #fff;
    border:1px solid #b3b3b3;
  }
  &.btn-stable{
    color:#fff;
    background-color: #cbcbcb;
    border:1px solid #cbcbcb;
  }
  &.btn-energized{
    color:#fff;
    background-color: #ff5000;
    border:1px solid #ff5000;
  }
  &.btn-energized-linear{
    color:#fff;
    background: linear-gradient(to right, #ff9000 18%, #ff5000 78%);
  }
  &.btn-energized-light{
    color:#fa952f;
    background-color: #fff;
    border:1px solid #ff5000;
  }
  &.btn-balanced{
    color:#fff;
    background-color: #43b133;
    border:1px solid #43b133;
  }
  &.btn-assertive{
    color:#fff;
    background-color: #ff4b69;
    border:1px solid #ff4b69;
  }
  // &.btn-small{
  // 	line-height: rem(56px);
  // }
  &.btn-large{
    line-height: 80rpx;
    font-size: 36rpx;
    padding: 0 88rpx;
  }
  &.btn-full{
    line-height: 90rpx;
    text-align: center;
    font-size: 34rpx;
    display:block;
  }
  &.btn-fixed{
    line-height: 96rpx;
    text-align: center;
    font-size: 28rpx;
    border-radius:0;
    position:fixed;
    display:block;
  }
  &.fixed-bottom{
    right:0;
    bottom:0;
    left:0;
  }
}

.app-prompt{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.65);
  justify-content: center;
  align-items: center;
  display: flex;
  .prompt-container{
    width: 565rpx;
    border-radius: 10rpx;
    background-color: #fff;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  height: 88rpx;
  background: linear-gradient(to right, #ff9000 0%, #ff9000 20%, #ff5000 66%);
  &.fixed{
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index: 100;
  }
  .right-btn {
    width: 90rpx;
    height: 60rpx;
  }
  .left-btn{
    width: 73rpx;
    height: 60rpx;
  }
  .left-btn,
  .right-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    image{
      width: 48rpx;
      height: 48rpx;
    }
  }
  .search-input {
    height: 60rpx;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 30rpx;
    padding: 0 30rpx;
    flex: 1;
    display: flex;
    align-items: center;
    image{
      width: 32rpx;
      height: 32rpx;
      margin-right: 10rpx;
    }
    input{
      height: 60rpx;
      font-size: 28rpx;
      color:#fff;
      flex: 1;
    }
  }
}

.label-act{
  height: 78rpx;
  display: flex;
  align-items: center;
  color: #757575;
  font-size: 20rpx;
  background-color: #fff;
  position: relative;
  &.bb{
    border-bottom: 1rpx solid #e5e5e5;
    //&:after{
    //  content: '';
    //  height: 1rpx;
    //  background-color: #e5e5e5;
    //  position:absolute;
    //  right: 0;
    //  bottom:0;
    //  left: 18rpx;
    //  display: block;
    //}
  }
  .ico {
    margin-left: 18rpx;
    image{
      width: 40rpx;
      height: 40rpx;
      display: block;
    }
  }
  .title{
    flex: 1;
    display: flex;
    align-items: center;
    @include ellipsis();
    image{
      width: 40rpx;
      height: 40rpx;
    }
  }
  .arrow{
    margin-right: 23rpx;
  }
}
.select-label{
  height: 107rpx;
  display: flex;
  align-items: center;
  color: #757575;
  font-size: 20rpx;
  background-color: #fff;
  position: relative;
  &.bb{
    border-bottom: 1rpx solid #e5e5e5;
  }
  .ico {
    margin-left: 23rpx;
    image{
      width: 40rpx;
      height: 40rpx;
      display: block;
    }
  }
  .title{
    flex: 1;
    margin-left: 35rpx;
    font-size: 28rpx;
    @include ellipsis();
  }
  .sub{
    font-size: 32rpx;
    color: #c8c8c8;
    margin-right: 23rpx;
  }
  .arrow{
    margin-right: 40rpx;
    image{
      width: 40rpx;
      height: 40rpx;
      display: block;
    }
  }
}
.sort-triangle{
  &.active{
    .up {
      border-color: transparent transparent #ff5000 transparent;
    }
    .down {
      border-color: #666 transparent transparent transparent;
    }
  }
  .up{
    margin-bottom: 5rpx;
    @include rac(7rpx, 5rpx, 'top', #666);
  }
  .down{
    @include rac(7rpx, 5rpx, 'bottom', #ff5000);
  }
}
