.remark-add{
  background-color: rgba(0, 0, 0, .65);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:100;
  display: flex;
  justify-content: center;
  align-items: center;
  .add-container{
    width: 690rpx;
    background-color: #fff;
    border-radius: 5rpx;
    .title{
      text-align: center;
      font-size: 32rpx;
      color: #666;
      padding:45rpx 0 38rpx 0;
    }
    .content{
      padding:0 50rpx;
      margin-bottom:50rpx;
      textarea{
        width: 100%;
        height: 320rpx;
        padding: 10rpx;
        font-size: 28rpx;
        border: 1rpx solid #e5e5e5;
        box-sizing:border-box;
      }
    }
  }
}
