@charset "utf-8";
@import '../../public/css/_mixin.scss';
@import '../../public/css/_list_section.scss';
page{
  padding-top:71rpx;
}
.list-tabs{
  height: 70rpx;
  line-height: 70rpx;
  font-size: 26rpx;
  background-color: #fff;
  display: flex;
  position: fixed;
  top:0;
  right:0;
  left:0;
  z-index:100;
  border-bottom: 1rpx solid #e7e7e7;
  .tabs-item{
    flex: 1;
    display: flex;
    justify-content: center;
    &.active{
      text {
        color:#ff5000;
        border-bottom: 4rpx solid #ff5000;
      }
    }
    text{
      color: #666;
    }
  }
}

