.toast {
	//min-width: 250rpx;
	//max-width: 400rpx;
	//min-height: 200rpx;

	min-width: 140px;
	max-width: 200px;
	min-height: 120px;

	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	//padding: 10rpx 15rpx;
	box-sizing: border-box;
	padding: 10px 15px;
	border-radius: 5px;
	background: rgba(0, 0, 0, .7);

	.loading{
		$size: 30px;
		margin-top: $size / 2;
		height: $size / 2;
		width: $size;
		border: 2px solid #fff;
		border-top: 0;
		border-radius: 0 0 $size/2 $size/2;
		transform-origin: top center;
		box-sizing: border-box;
		animation: spin .75s linear infinite;
	}

	text {
		margin-top: 10px;
		word-break: break-all;
		font-size: 14px;
		color: #fff;
	}
}



@keyframes spin{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

