@charset "utf-8";
@import '../../public/css/_mixin.scss';
@import '../../public/css/_list_section.scss';
@import '../../public/css/_cart_account.scss';

.address-list{
  .border-bar{
    width: 100%;
    height: 11rpx;
    display: block;
  }
  .address-item{
    background-color: #fff;
    padding:0 15rpx 0 22rpx;
    display: flex;
    .ico,
    .arrow{
      display: flex;
      align-items: center;
      image{
        width: 40rpx;
        height: 40rpx;
      }
    }
    .content{
      padding: 15rpx 0 60rpx 0;
      margin-left:15rpx;
      font-size: 24rpx;
      flex:1;
      .user{
        line-height: 56rpx;
        display: flex;
        .name{
          flex:1;
        }
      }
      .addr{
        line-height: 30rpx;
      }
    }
  }
}
.list-section{
  .list-item{
    background-color: #fafafa;
    .item-img{
      image{
        border:1rpx solid #e5e5e5;
      }
    }
  }
}


