@charset "utf-8";
@import '../../public/css/_mixin.scss';

.info-section{
  background-color: #fff;
  padding: 0 20rpx;
  .info-item{
    min-height: 50rpx;
    line-height: 50rpx;
    padding:17rpx 0;
    color: #444;
    &.bb{
      border-bottom: 1rpx solid #e5e5e5;
    }
    .title{
      float:left;
      font-size:28rpx;
      margin-right:30rpx;
    }
    .text{
      text-align: right;
      font-size: 32rpx;
    }
  }
}
.app-prompt {
  .prompt-container {
    padding:76rpx 0 68rpx;
    text-align: center;
    image{
      width: 180rpx;
      height: 180rpx;
      margin:0 auto;
      display: block;
    }
    .text{
      text-align: center;
      font-size: 44rpx;
      color: #666;
      margin-top: 35rpx;
    }
    .btn{
      margin:150rpx auto 0;
    }
  }
}

